.gradient-text {
  font-size: 48px;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #62bbff, #F0A648 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
